@import "variables";

*{
	box-sizing:border-box;
}

body{
	font-family:'arial';
}

ul{
  margin:0px;
  padding: 0px;
  
}
a{
  text-decoration: none;
  outline: none;
}

.main_container{
	height:100vh;
	background-color: @black;
	color: @text_main_color;
	overflow: hidden;
	position:relative;
	
}
.dispNone{
	display:none;
}
.archiv_message{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}

.archiv_rout{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}
.archiv_device{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}
.alarm_message{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}




