@import "variables";

*{
	box-sizing:border-box;
}

body{
	font-family:'arial';
}

ul{
  margin:0px;
  padding: 0px;
  
}
a{
  text-decoration: none;
  outline: none;
}

.main_container{
	height:100vh;
	background-color: @black;
	color: @text_main_color;
	overflow: hidden;
	position:relative;
	
}
.dispNone{
	display:none;
}

.archiv_message{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}

.archiv_rout{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}
.archiv_device{	
	width:850px;
	display:none;
	left:20%;
	top:20%;
}
.alarm_message{	
	width:1200px;
	display:none;
	left:20%;
	top:20%;
}
.alarm_plc{	
	width:300px;
	display:none;
	left:45%;
	top:45%;
}



/* ===================== START SCROLLBAR========================== */
::-webkit-scrollbar{
    background: #515151;
    border: 1px solid grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

::-webkit-scrollbar-thumb{
    background: #252525;
    border: 1px solid grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    border:1px solid #efcd1f;
    box-shadow: 0 0 10px rgba(239, 205, 31, 1);
    color:#efcd1f;
}

::-webkit-scrollbar-button{
    background: #252525;
    border: 1px solid grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

::-webkit-scrollbar-button:hover{
    border:1px solid #efcd1f;
    box-shadow: 0 0 10px rgba(239, 205, 31, 1);
    color:#efcd1f;
}

/*--------------------END SCROLLBAR ----------------------*/