@import "variables";
@box:~'.modal_box';

@{box}{	
	position:absolute;
	// display:inline-block;
	background-color: @modal-back;
    border:1px solid @modal-border;
    border-radius: 10px;    
    font-size: 14px;
    cursor:default!important;    
    &_header{
    	position:relative;
	    background-color: @menu_black;
	    height:33px;
	    width: 100%;
	    border-radius: 10px;    
	    border-bottom: 1px solid @modal-border;
	    color:@modal-hed-text;	        
	    font-weight: 300;
	    margin-bottom: 10px;
	    display:flex;
	    align-items:center;
	    justify-content:space-between;
	    
	    &_text{
	    	position:absolute;
	    	top:50%;
	    	transform:translateY(-50%);
	    	left:10px;
	    	span{
	    		color:@text_main_color;	 
	    	}
	    }
	}
	&_body{
		display:flex;
		justify-content:space-between;
	}
	&_footer{
		display: flex;
		margin:10px 0px;
	    
	}
	&_filter{
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:0 20px;
		position:relative;
		margin-bottom:10px;
	}
}
